.transactions li {
   color: var(--dark-grey);
   margin: 10px auto;
   border: 1px solid var(--light-grey);
   box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
   padding: 20px;
   position: relative;
   overflow: hidden;
   border-left: 4px solid var(--dark-red);
   text-align: center;
}

.error {
   margin-top: 30px;
   color: red;
   font-weight: bold;
   height: 40px;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 7px;
}

.wrapper .long {
   grid-column: span 2;
   text-align: left;
   font-style: italic;
   font-size: 0.8em;
}

.transactions .beneficiary {
   color: var(--dark-grey);
   font-size: 1em;
}

.transactions .amount {
   margin-top: 10px;
   font-weight: bold;
   font-size: 1.4em;
   color: green;
   text-align: right;
   grid-row: span 3;
}

.transactions .description {
   font-size: 0.8em;
   text-align: left;
}

.transactions .negative {
   color: red;
}

.transactions button {
   position: absolute;
   top: 0;
   right: 0;
   background: var(--light-grey);
   color: var(--dark-grey);
   border: none;
   padding: 12px 8px;
   text-align: center;
   line-height: 0;
   font-size: 0.9em;
   cursor: pointer;
}

.transactions .date {
   position: absolute;
   top: 0;
   left: 0;
   background: var(--light-grey);
   color: var(--dark-grey);
   border: none;
   padding: 8px 5px;
   line-height: 0;
   font-size: 0.7em;
}

@media only screen and (max-width: 768px) {
   .transaction-form {
      grid-template-columns: 1fr;
   }
}
